h2, p {
  font-size: 90%;
  line-height: 1.2em;
}

h2 {
  color: black;
}

.caja {
  border: 2px solid #FF8000;
  width: 200px;
  margin-bottom:30px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 70px;
  padding-left: 10px;
  padding-top:10px;
}
}